<!--=======================================-->
<!-- The following is the ADD/EDIT MODAL BLOCK -->
<!--=======================================-->
#{form @postDeleteTimeCard(), class:'form-horizontal', style:'min-width:500px;max-width:800px;margin: 0 auto'}
	
	<input id="addEditTimeCard_ID" type="hidden" name="timeCardId" value="${id}">
	<div id="myDeleteModal" class="modal hide" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="addEditModalLabel" aria-hidden="true">
	<div id="dbAddEditModal_content" class="modal-body">
	    <p>
        The action of deleting an entire TimeCard, including all of its' DayCards and data, is
        a very invasive change to the system. 
    </p>
	</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<input type="submit" name="delete" value="delete" class="btn434 btn-primary" />
		</div>
	  </div>
	  
#{/form}
